@import "../../styles/core";

.placeholder {
  background-color: $light-color;
  opacity: 1;
  margin-bottom: 10px;
  &.ready {
    background-color: transparent;
  }

  .placeholder__children {
    opacity: 0;
    &.ready {
      opacity: 1;
    }
  }
}

.line {
  fill: $light-color;
}
