@import "../../styles/core";

.wrapper {
  padding: 10px 0;
  width: 100%;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  .label {
    display: block;
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    margin: 20px 0 6px 0;
    &.error-label {
      margin: -7px 0 10px 0;
    }
  }

  .input {
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    background-color: $light-color;
    width: 100%;
    color: $font-color;
    margin-right: 20px;
    &:focus {
      box-shadow: 0 5px 15px rgba(27, 183, 249, 0.3) !important;
    }
    &:disabled {
      background-color: lighten($light-color, 5);
      font-style: italic;
      font-weight: 200;
      cursor: not-allowed;
    }
  }

  .error {
    display: block;
    color: $danger-color;
    font-size: 0.8em;
    margin: -5px 0 10px 0;
  }
}
