@import "../../styles/core";

.error {
  color: $danger-color;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 20px;
  width: 100%;
}

.view__background {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: $secondary-dark-color;
  height: 30vh;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.20);
}

.view__content--wrapper {
  .view__content {
    position: relative;
    top: 100px;
    z-index: 2;
    background-color: #ffffff;
    border-radius: 5px;
    max-width: 1200px;
    margin: 0 15px;
    padding: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    .error {
      color: $danger-color;
      float: left;
      margin: 25px 0;
      font-size: 0.8em;
    }

    .button {
      margin: 30px 0;
      width: 100%;
    }

    .group {
    }
    .input {
      width: 100%;
    }
  }
}


@media (min-width: $grid-sm) {
  .view__content--wrapper {
    margin: 0 15px;
    .view__content {
      padding: 40px 40px 100px 40px;
      margin: 0 auto;
      .button {
        float: right;
        width: unset;
      }
      .group {
        display: flex;
        justify-content: space-between;
        .input {
          flex-grow: 1;
        }
      }
      .input {
        width: unset;
      }
    }
  }
}
