@import "../../styles/core";

.button {
  .button__inner {
    i {
      line-height: 35px;
      padding: 0 2px;
      font-size: 1.3em;
      color: $secondary-color;
    }
    .spacing {
      padding-left: 8px;
    }
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
  }
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  font-size: 14px;
  display: inline-block;
  border: none;
  height: 35px;
  width: auto;
  padding: 5px 10px;
  background-color: $button-default-color;
  color: $secondary-color;
  font-weight: 400;
  border-radius: 5px;
  box-shadow: 0 5px 20px 0 rgba(55, 55, 55, 0.1);
  &:hover {
    background-color: darken($button-default-color, 3);
  }
  &:active {
    background-color: darken($button-default-color, 5);
  }
  &.dark {
    background-color: $secondary-dark-color;
    color: $light-color;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.20);
    i {
      color: $light-color;
    }
    &:hover {
      background-color: $secondary-color;
    }
    &:active {
      background-color: darken($secondary-dark-color, 20);
    }
  }
  &.danger {
    background-color: $danger-color;
    box-shadow: 0 5px 20px 0 rgba(227, 89, 75, 0.20);
    color: #ffffff;
    i {
      color: #ffffff;
    }
    &:hover {
      background-color: lighten($danger-color, 10);
    }
    &:active {
      background-color: darken($danger-color, 20);
    }
  }
  margin: 0 10px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.group {
  display: inline-flex;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.20);

  .button {
    border-radius: 0;
    margin: 0;
    box-shadow: none;

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:nth-child(n) {
      border-right: 1px solid darken($button-default-color, 5);
    }
    &.dark {
      &:nth-child(n) {
        border-right: 1px solid $secondary-color;
      }
    }
    &.danger {
      &:nth-child(n) {
        border-right: 1px solid lighten($danger-color, 10);
      }
    }
    &:last-child {
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &.dark {
      &:last-child {
        border: none;
      }
    }
    &.danger {
      &:last-child {
        border: none;
      }
    }
  }
}
