:global {
    :root {
        font-size: 18px;
        color: $font-color;
    }

    body {
        font-family: $font;
    }
    
    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6,
    p {
        font-family: $font;
    }
    
    h1, .h1 {
        font-size: 2.3rem;
        font-weight: 400;
        margin: 5px 0 10px 0;
    }

    h2, .h2 {
        font-size: 1.9rem;
        font-weight: 200;
    }

    h3, .h3 {
        font-size: 1.6rem;
        font-weight: 200;
    }

    h4, .h4 {
        font-size: 1.1rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 700;
    }
    
    h5, .h5 {
        font-size: 1.0rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    h6, .h5 {
        font-size: 0.9rem;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-weight: 200;
    }

    p {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}
