$secondary-color: #313B46;
$secondary-dark-color: #222830;

$background-color: #F3F3F3;

$button-default-color: #ECECEC;
$font-color-light: #ABABAB;

$font: 'Roboto', sans-serif;
$font-color: #525252;
