@import "core";

:global {
  body {
    background: $background-color;
    padding-top: 50px;
  }
  .image {
    display: block;
    max-width: 100%;
    height: auto;
  }
  hr {
    height: 1px;
    background-color: $light-color;
    color: $light-color;
    margin-bottom: 20px;
    border: none;
  }
}