@import "../../styles/core";

.view__background {
  background-color: $secondary-dark-color;
  height: 30vh;
  min-height: 100px;
  max-height: 180px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column-reverse;
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 20px auto;
    h4 {
      color: #ffffff;
      font-size: 1.5em;
      margin-bottom: 10px;
      font-weight: 700;
      span {
        font-weight: 200;
      }
    }
  }
}

.view__content {
  width: 100%;
  padding: 20px;
  top: -65px;
  position: relative;
  z-index: 2;
  max-width: 1200px;
}

.no-results {
  font-style: italic;
  font-size: 0.8em;
  color: $font-color-light;
}

@media (min-width: $grid-sm) {
  .view__content{
    margin: 0 auto;
  }
}
