.movie-attributes {
  font-size: 0.8em;
  margin: 0px;
  padding: 15px 15px 5px 15px;
  list-style: none;
  color: #ABABAB;
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.10);

  li {
    margin-bottom: 10px;
  }
  span {
    display: inline-block;
    margin-left: 15px;
  }
}