@import "../../styles/core";

.icon {
  cursor: pointer;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  &:hover {
    color: $secondary-dark-color;
  }
  &:active {
    color: darken($secondary-dark-color, 10);
  }
}
