@import "../../styles/core";

.view { }
.view__background {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: $secondary-dark-color;
  height: 30vh;
  min-height: 200px;
  max-height: 200px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.10);
}

.hidden{
  display: none;
}

.view__content {
  position: relative;
  z-index: 5;
  margin-top: 220px;
}

.header {
  width: 100%;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: 25% 1fr;
}

.header__content {
  max-height: 100px;
}

.header__picture {
  display: flex;
  align-items: center;
  height: 30vh;
  min-height: 210px;
  max-height: 210px;
  position: relative;
  z-index: 6;
  .picture {
    border: 3px solid lighten($light-color, 5);
    height: auto;
    width: 100%;
  }
}

.name {
  height: 30vh;
  min-height: 210px;
  max-height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 1.4em;
    color: #fff;
    margin: 0;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    margin: 0;
  }
}

.buttons__container {
  .buttons {
    background-color: $secondary-dark-color;
    width: 100%;
    margin-top: -25px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.content {
  max-width: 1200px;
  margin: 20px auto 50px;
}

@media (min-width: $grid-sm) {
  .view__background {
    border-top: 10px solid $secondary-dark-color;
    min-height: 200px;
    max-height: 300px;
  }

  .view__content {
    margin-top: 280px;
  }

  .header {
    grid-template-columns: 240px 1fr;
    padding: 0 20px;
    margin-top: 50px;
    display: grid;
    grid-column-gap: 25px;
  }

  .buttons__container {
    grid-template-columns: 240px 1fr;
    grid-template-areas: " buttons";
    height: 6vh;
    min-height: 10px;
    max-height: 70px;
    display: flex;
    flex-direction: column-reverse;
    .buttons {
      display: block;
      grid-area: buttons;
      width: auto;
      background-color: transparent;
      padding: 0;
      margin: -70px 0 0 285px;
    }
  }

  .header__content {
    display: block;
    height: 30vh;
    padding: 0 0 25px 0;
    margin-top: -60px;
  }

  .content {
    margin-top: 50px;
  }

  .header__picture {
    margin-top: 40px;
    min-height: 200px;
    max-height: 300px;
    .picture {
      border: 10px solid lighten($light-color, 5);
    }
  }

  .name {
    justify-content: flex-end;
    min-height: 200px;
    max-height: 300px;
    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }
    h3 {
      font-size: 1em;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $grid-md) {
  .view {
    max-width: 1200px;
    margin: 0 auto;
  }
  .buttons__container {
    grid-template-columns: 340px 1fr;
    grid-template-areas: ". buttons";
    max-width: 1200px;
    margin: 0 auto;
    .buttons {
      display: block;
      grid-area: buttons;
      width: auto;
      background-color: transparent;
      padding: 0;
      margin: -70px 0 0 400px;
    }
  }
  .header {
    grid-template-columns: 340px 1fr;
    grid-column-gap: 40px;
  }
  .header__content {
    margin-top: -60px;
  }
  .name {
    h1 {
      font-size: 2.0em;
    }
  }
  .content {
    margin-top: 100px;
  }
}
