@import "../../styles/core";

.background {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: $secondary-dark-color;
    height: 30vh;
    width: 100%;
    z-index: 1;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.20);
}

.content {
    z-index: 2;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: calc(100vh - 150px);
    max-width: 1200px;
    margin: 50px auto 0 auto;
    color: #fff !important; 
}

@media all and (min-width: $grid-sm) {
}