@import "../../styles/core";
.background {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: $secondary-dark-color;
  height: 300px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column-reverse;
  .header {
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    h1 {
      margin: 0 0 10px 0;
    }
    h3 {
      margin: 0;
      font-size: 1.4em;
      font-weight: 200;
      span {
        font-weight: 500;
      }
    }
    p {
      margin-top: 60px;
      word-break: normal;
      span {
        font-size: 0.5em;
      }
    }
  }
}

.content {
  z-index: 2;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  max-width: 1200px;
  margin: 350px auto 0 auto;
}

@media all and (min-width: $grid-sm) {}